body{
  font-family: Arial;
  background-color: rgb(252, 254, 200);
  margin: 0;
}

.big-container{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

@font-face{
  font-family: Medieval;
  src: url(/MedievalTimeline-DOPRE.ttf)
}

h1{
  text-align: center;
  color: #2d333a;
}

.header{
  display: flex;
  border: 1px solid white;
  background-color: rgb(248, 254, 246);
  position: sticky;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  height: 70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.header-btn{
  padding: 21px;
  margin-left: 20px; 
  border: none;
  background-color: rgb(248, 254, 246);
  font-size: 20px;
  width: 150px;
  font-family: 'Times New Roman';
  cursor: pointer;
}

.header-btn:hover{
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  color: green;
}


.sidebar{
  background-color: rgb(248, 254, 246);
  width: 20%;
  height: 1000px;
  position: fixed;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.form-container{
  background-color: rgb(251, 255, 250);
  /* margin: auto; */
  padding: 30px;
  /* margin-top: 80px; */
  max-width: 700px;
  border: 1px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 400px;
}

.form-row{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-group{
  max-width: 300px;
  padding: 10px;
}

.btn{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(2, 130, 23);
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
}

.btn:hover{
  background-color: rgb(2, 157, 28);
}


input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  height: 25px;
  padding-top: 10px; 
  border: 1px solid #c2c8d0;
  padding-inline: 20px;
  border-radius: 6px;
  padding: 2px;
}

details{
  text-align: justify;
  margin: auto;
}

.btn-div{
  margin-top: 90px;
  text-align: center;
}

.regis-btn{
  margin-left: 320%;
  padding: 23px;
}

